
.icon-down:before { content: '\e800'; } /* '' */
.icon-right-dir:before { content: '\e801'; } /* '' */
.icon-phone:before { content: '\e802'; } /* '' */
.icon-location:before { content: '\e803'; } /* '' */
.icon-location-outline:before { content: '\e804'; } /* '' */
.icon-clock-alt:before { content: '\e805'; } /* '' */
.icon-location-1:before { content: '\e806'; } /* '' */
.icon-mail:before { content: '\e807'; } /* '' */
.icon-down-open:before { content: '\f004'; } /* '' */
.icon-right-open-1:before { content: '\f006'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-right:before { content: '\f178'; } /* '' */
.icon-facebook-squared:before { content: '\f308'; } /* '' */