.contacts{
  //width: 100%;
  width: 0;
  height: 0;
  position: fixed;
  right: 0%;
  bottom: 0%;
  background: rgba(0, 0, 0, .4);
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: .25s;
  .cnt-content{
    cursor: default;
    transition: .25s;
    width: 80%;
    height: 80%;
    opacity: 0;
    display: none;
    //flex-direction: column;
    justify-content: space-between;
    align-items: center;
    //background: rgba(255, 255, 255, .8);
    //background: #000;
    background: rgba(0, 0, 0, .8);
    border-radius: 10px;
    color: white;
    //border: 1px solid rgba(238, 243, 250, 1.000);
    box-shadow: 0 0 40px 7px rgba(238, 243, 250, .2);
    .info{
      box-sizing: border-box;
      padding: 15px 20px;
      flex: 45%;
      max-width: 48%;
      //justify-self: flex-start;
      align-self: flex-start;
      .contact{
        ul{
          padding: 0;
          list-style: none;
          li{
            font-family: Conv_Roboto-Light;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            margin-bottom: 15px;
            i{
              font-size: 1.5em;
              margin-right: 10px ;
              transition: .25s;
              &:before{
                margin: 0;
              }
            }
            a{
              text-decoration: none;
              color: white;
              position: relative;
              &:before{
                position: absolute;
                content: '';
                width: 0%;
                transition: .25s;
                height: 1px;
                background: #90929e;
                bottom: -2px;
                left: 0;
              }
            }


            &:hover{
              i{
                color: red;
              }
              a{
                &:before{
                  width: 100%;
                }
              }
            }
          }
        }
      }
      .socials{

        ul{
          display: flex;
          align-items: center;
          justify-content: flex-start;
          list-style: none;
          padding: 0;
          margin: 0;
          li{
            margin-right: 15px;
            font-size: 1.5em;
            cursor: pointer;

            i{
              font-size: 1.1em;
              position: relative;
              transition: .25s;
              //z-index: 10;


              &:before{
                position: relative;
                margin: 0;
                z-index: 10;
              }
              &:after{
                z-index: 1;
                position: absolute;
                content: '';
                width: 0px;
                //transition: 0.35s cubic-bezier(0.61,-0.19, 0.7,-0.11);
                transition: .25s;

                height: 0px;
                background: white;
                border-radius: 50%;
                top: 50%;
                left: 50%;
                //bottom: auto;
              }
            }

            &:hover{

              i{
                color:rgba(107, 114, 147, 1.000) ;
                &:after{
                  width: 35px;
                  height: 35px;
                  left: calc(50% - 17px);
                  top: calc(50% - 17px);
                }
              }
            }
            &:last-child{
              margin-right: 0;
            }
          }
        }
      }
    }
    .form{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      box-sizing: border-box;
      padding: 15px 20px;
      flex: 45%;
      max-width: 48%;

      align-self: flex-end;

      h2{
        width: 75%;
        font-family: Conv_Roboto-Light;
      }
      input{
        border: 1px solid white;
        border-radius:6px;
        padding: 10px 15px;
        margin-bottom: 25px;
        width: 50%;
        transition: .25s;
        background: rgba(0, 0, 0, .3);
        color: white;

        &:active, &:hover, &:focus {
          color: black;
          outline: 0;
          outline-offset: 0;
          background: rgba(255, 255, 255, .6);
          //border-color: red;

        }
      }
      textarea{
        width: 50%;
        //height: 50%;
        min-height: 100px;
        padding: 10px 15px;
        color: white;
        transition: .25s;
        background: rgba(0, 0, 0, .3);
        border: 1px solid white;
        border-radius: 6px;

        &:active, &:hover, &:focus {
          color: black;
          outline: 0;
          outline-offset: 0;
          background: rgba(255, 255, 255, .6);
          //border-color: red;
        }
      }
      .btn-send{
        margin-top: 15px ;
        padding: 10px 15px;
        border: 1px solid white;
        background: #000;
        color:white;
        cursor: pointer;
        transition: .25s;
        border-radius: 6px;

        &:hover{
          background: rgba(255, 255, 255, 1);
          color: black;
        }
      }
    }
  }
}


@import "mob-contacts.scss";